<div class="page pt-page-moveFromRight dialog">
    <div class="hd">
        <h1 class="page_title">Dialog</h1>
    </div>
    <div class="bd spacing">
        <a href="javascript:;" class="weui_btn weui_btn_primary" id="showDialog1" ng-click="showDialogAlert()">点击弹出Dialog消息</a>
        <a href="javascript:;" class="weui_btn weui_btn_primary" id="showDialog2" ng-click="showDialogConfirm()">点击弹出Dialog确认</a>
    </div>
    <!--BEGIN dialogalert-->
    <div class="weui_dialog_alert" id="dialogalert" style="display: none;">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">弹窗标题</strong></div>
            <div class="weui_dialog_bd">弹窗内容，告知当前页面信息等</div>
            <div class="weui_dialog_ft">
                <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>
    <!--END dialogalert-->
    <!--BEGIN dialogconfirm-->
    <div class="weui_dialog_confirm" id="dialogconfirm" style="display: none;">
        <div class="weui_mask"></div>
        <div class="weui_dialog">
            <div class="weui_dialog_hd"><strong class="weui_dialog_title">弹窗标题</strong></div>
            <div class="weui_dialog_bd">自定义弹窗内容，居左对齐显示，告知需要确认的信息等</div>
            <div class="weui_dialog_ft">
                <a href="javascript:;" class="weui_btn_dialog default">取消</a>
                <a href="javascript:;" class="weui_btn_dialog primary">确定</a>
            </div>
        </div>
    </div>
    <!--END dialogconfirm-->
</div>